.postContainer {
    padding: 30px 70px 0 70px; 
}
.Post {
    /* display: flex; */
    justify-content: space-between;
    padding-bottom: 35px;

}
.postListTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}
.postListBottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

h2 {
    color: red;
    font-size: 35px;
    font-weight: 250;
}

/* .picture img {
    width: 400px;
} */
.card {
    width: 350px;
    height: 350px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: -1px 10px 15px -6px rgba(0, 0, 0, 0.4);;
    padding-bottom: 15px;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top: 1px solid transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-text {
    padding-left: 15px;
}
.card-text h2{
    font-weight: 500;
}
.card-text h4 {
    font-weight: 200;
    /* padding-bottom: 50px; */
}